<table class="borderless first">
    <tr>
        <th style="width: 20%">Reference Documents</th><td style="width: 80%">{{t1}}</td>
            </tr>
    <tr>
        <th style="width: 20%">General Contractor</th><td colspan="3">{{t2}}</td>
    </tr>
    <tr>
        <th style="width: 20%">Sub-Contractor</th><td colspan="3">{{t3}}</td>
    </tr>
    <tr>
        <th style="width: 20%">Material Supplier</th><td colspan="3">{{t4}}</td>
    </tr>
</table>