<div class="full-page">
<table style="height:500px">
    <tr>
        <th style="width: 20%">Sample Type</th>
        <td colspan="3">{{sampleType}}</td>
    </tr>
    

    <tr>
        <th>General Contractor</th><td colspan="3">{{DRGeneralContractor}}</td>
    </tr>
    <tr>
        <th>Sub-Contractor</th><td colspan="3">{{DRSubContractor}}</td>
    </tr>
    <tr>
        <th>Material Supplier</th><td colspan="3">{{DRMaterialSupplier}}</td>
    </tr>
    
    <tr>
        <th>Sampled By</th>
        <td style="width: 30%">{{employeeName}}</td>
        
        <th style="width: 20%">Sample Date</th>
        <td style="width: 30%">{{requestDate}}</td>
    </tr>
    
    <tr>
        <th>Set No.</th>
        <td>{{setNo}}</td>

        <th>Time Cast</th>
        <td>{{timeCast}}</td>
    </tr>
    
    <tr>
        <th>Mix Design No.</th>
        <td>{{mixDesignNo}}</td>
        <th>Specified Strength</th>
        <td>{{mixDesignStrength}} {{designStrengthUnits}}</td>
    </tr>
    
    <tr>
        <th>Admixtures</th>
        <td>{{admixtures}}</td>
        
        <th>Slump/Pen</th>
        <td>{{slumpPen}}</td>
    </tr>
    
    <tr>
        <th>Material Temp</th>
        <td>{{mtlTempCF}} &deg; {{mtlTempUnits}}</td>
        <th>Air Temp</th>
        <td>{{airTempCF}} &deg; {{airTempUnits}}</td>
    </tr>


    <tr>
        <th>Truck No.</th>
        <td>{{truckNo}}</td>
        
        <th>Trip Ticket No.</th>
        <td>{{tripTicketNo}}</td>
    </tr>
    
    <tr>
        <th>Air Content</th>
        <td>{{airContent}}</td>
        
        <th>Unit Wt</th>
        <td>{{unitWt}}</td>
    </tr>
    
    <tr>
        <th>No. of Samples</th>
        <td>{{noOfSamples}}</td>
        
        <th>Breaks*:</th>
        <td>{{breaks}}</td>
    </tr>
    
    <tr>
        <td colspan="4">
            <div class="cell-header">Placed At</div>
            <p style="height:75px">{{placedAt}}</p>
        </td>
    </tr>
    
    <tr>
        <td colspan="4">
            <div class="cell-header">Curing Location</div>
            <p style="height:75px">{{curingLocation}}</p>
        </td>
    </tr>
</table>
</div>


<div class="page-break">
</div>