{{>commonHeader}}
<div id="page1">

{{>commonDaily}}

<table>
    <tr><th>Work Inspected</th></tr>
    <tr style="height: 475px"><td><p>{{remarksParagraph}}</p></td></tr>
</table>
</div>

{{dailyFooter}}