{{>commonHeader}}

<table>
<tr>
    <td colspan="2" class="checklist-table-header">
        General Information
    </td>
</tr>

<tr>
    <td style="width: 50%">
        <div>CODE EVALUATION REPORT</div>
        <p>{{t1}}</p>
    </td>

    <td>
        <div>TORQUE TESTING PERFORMED</div>
        <table class="borderless">
            <tr>
                <td style="width:10%">YES</td>
                <td style="width:40%">{{checkMarkIf(t2, constants.Yes)}}</td>
                <td style="width:10%">NO</td>
                <td style="width:40%">{{checkMarkIf(t2, constants.No)}}</td>
            <tr>
        </table>
    </td>
</tr>
</table>


<table>
<tr>
    <td colspan="9" class="checklist-table-header">
        Anchor Information
    </td>
</tr>

<tr class="header-borderless">
    <td style="width: 6%">Item<br/>No.</td>
    <td style="width: 13%">Manufacturer</td>
    <td style="width: 13%">Brand/Type</td>
    <td style="width: 27%">Installation Method</td>
    <td style="width: 6%">Size</td>
    <td style="width: 8%">Interval<br/>Spacing</td>
    <td style="width: 8%">Edge<br/>Distance</td>
    <td style="width: 9%">Drill Bit<br/>Diameter</td>
    <td style="width: 10%">Specified<br/>Minimum<br/>Embedment<br/>Depth</td>
</tr>
{{# each(anchorInfo)}}
<tr>
    <td class="item-number">{{ @indexPlusOne }}</td>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>
    <table class="borderless internal">
        <tr>
            <td style="width:40%">Flat</td>
            <td style="width:10%">{{checkMarkIf(t3, constants.Flat)}}</td>
            <td style="width:40%">Vertical</td>
            <td style="width:10%">{{checkMarkIf(t3, constants.Vertical)}}</td>
        </tr>
        <tr>
            <td style="width: 40%">Horizontal</td>
            <td style="width:10%">{{checkMarkIf(t3, constants.Horizontal)}}</td>
            <td style="width: 40%">Overhead</td>
            <td style="width:10%">{{checkMarkIf(t3, constants.Overhead)}}</td>
        </tr>
    </table>
    </td>
    <td>{{t4}}</td>
    <td>{{t5}}</td>
    <td>{{t6}}</td>
    <td>{{t7}}</td>
    <td>{{t8}}</td>
</tr>
{{/}}
</table>


<table class="attached-bottom">
<tr>
    <td colspan="6" class="checklist-table-header">
        Anchor Installation Log
    </td>
</tr>

<tr class="header-borderless">
    <td style="width: 8%">Item No.</td>
    <td style="width: 8%">No. of<br/>Anchors</td>
    <td style="width:50%">Floor/Location</td>
    <td style="width: 11.5%">Hole<br/>Diameter</td>
    <td style="width: 11.5%">Hole Depth</td>
    <td style="width: 11%">Drilled Hole<br/>Blown</td>
</tr>
{{# each(anchorInstallationLog)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td style="width: 34%">{{t3}}</td>
    <td>{{t4}} in.</td>
    <td>{{t5}} in.</td>
    <td>{{t6}}</td>
</tr>
{{/}}
</table>
<table class="attached-top">
<tr>
    <td colspan="3">
        Anchors installed per manufacturer's instructions {{checkMarkIf(t3, constants.Yes)}}
    </td>
    <td colspan ="4">
        Anchors installed <strong>not</strong> per manufacturer's instructions {{checkMarkIf(t3, constants.No)}}
    </td>
</tr>
</table>

{{>commonFooter}}