﻿{{>commonHeader}}
<div id="page1" class="dsa technician">

{{>DSAcommonDaily}}
	
<table>
    <tr><th class="borderless">Equipment On-Site</th></tr>
    <tr><td style="height:48px"><p>{{equipmentOnSite}}</p></td></tr>
</table>

<table>
    <tr><th class="borderless">Summary of Observations</th></tr>
    <tr><td style="height:81px"><p>{{observationsSummary}}</p></td></tr>
</table>

<table>
    <tr><th class="borderless">Limits of Areas Approved</th></tr>
    <tr><td style="height:64px"><p>{{areasApprovedLimits}}</p></td></tr>
</table>

<table>
    <tr><th class="borderless">Limits of Areas Not Approved</th></tr>
    <tr><td style="height:64px"><p>{{areasNotApprovedLimits}}</p></td></tr>
</table>
</div>

{{dailyFooter}}