{{>commonHeader}}
<div id="page1" class="dsa">

{{>DSAcommonDaily}}

<table>
    <tr><th>Work Inspected</th></tr>
    <tr style="height: 350px"><td><p>{{remarksParagraph}}</p></td></tr>
</table>
</div>

{{dailyFooter}}