<div class="dsa-footer">
<p><strong>Material sampling &nbsp;</strong> {{samplingInAccordance}}<br/>
performed in accordance with the DSA approved documents</p>

<p><strong>The material tested &nbsp;</strong> {{workMeetsRequirements}}<br/>
the requirements of the DSA approved documents</p>
</div>
{{>standaloneFooter}}