<div style="height: 210px; background-color:#aaa">
<div class="half left" style="height:210px">
    <p><strong>The Work &nbsp;</strong> {{inspectedInAccordance}}<br/>
    inspected in accordance with the requirements of the DSA approved documents</p>

    <p><strong>Material Sampling &nbsp;</strong> {{samplingInAccordance}}<br/>
    performed in accordance with the DSA approved documents</p>
    
    <p>
    cc: Project Architect</br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Structural Engineer<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Inspector<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DSA Regional Office<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;School District<br/>
    </p>
    
    <p>RMA Project Number: {{projectId}}</p>

</div>

<div class=" right">


    <p style="text-align:right"><strong>The Work Inspected &nbsp;</strong> {{workMeetsRequirements}} <br/>
    the requirements of the DSA approved documents</p>

    <p style="text-align:right">CERTIFICATION # <span class="underline">{{certificationNumber}}</span></p>


        <div class="underline-block">
            <div class="content signature">{{signature}}</div>
            <div class="caption">Signature of Special Inspector</div>
        </div>

        <div class="underline-block ">
            <div class="content">{{nameTitle}}</div>
            <div class="caption">Print Name/Title</div>
        </div>

</div>

</div>
