<div class="dsa-footer">

<div class="clearfix">
<div class="left"  style="width: 49%">
<p><strong>The work &nbsp;</strong> {{inspectedInAccordance}}<br/>
inspected in accordance with the requirements <br/>
of the DSA approved documents</p>

<p><strong>Material sampling &nbsp;</strong> {{samplingInAccordance}}<br/>
    performed in accordance with the DSA approved documents</p>
</div>

<div class="left" style="width: 49%">    
    <p><strong>The work inspected &nbsp;</strong> {{workMeetsRequirements}}<br/>
the requirements of the DSA approved documents</p>
<div>
</div>

</div>

{{>standaloneFooter}}