<table>
	<tr>
		<td>{{clientName}}</td>
		<th>DSA File #</th>
		<td>{{dsaFile}}</td>
	</tr>
	<tr>
		<td>{{projectLongName}}</td>
		<th>DSA Appl #</th>
		<td>{{dsaAppl}}</td>
	</tr>
	<tr>
		<td>{{cityState}}</td>
		<th>DSA LEA #</th>
		<td>{{dsaLEA}}</td>
	</tr>
</table>
<table>
	<tr>
		<th>Request By</th>
		<td>{{reqBy}}</td>
		<th>Phone</th>
		<td>{{phoneNumber}}</td>
		<th>Cell</th>
		<td>{{cellNumber}}</td>
		<th>Date</th>
		<td>{{reqDate}}</td>
	</tr>
	<tr>
		<th>Time</th>
		<td>{{reqTime}}</td>
		<th>Task</th>
		<td>{{task}}</td>
		<td colspan="4"></td>
	</tr>
	<tr>
		<tr>Remarks</tr>
		<td colspan="7">{{remarks}}</td>
	</tr>
</table>