
{{>commonHeader}}
<div id="header-top">
    {{formLogo}}
    <h2 id="form-title">{{displayName}}</h2>
</div>

<table class="borderless">
    <tr>
        <td rowspan="3" style="width:75%" >
            {{clientName}}<br />
            {{project}}<br />
            {{address}}<br />
            {{cityState}}<br />
        </td>
        <th>DSA File #</th>
        <td>{{dsaFileNo}}</td>
    </tr>
    <tr>
        <th>DSA Appl #</th>
        <td>{{dsaApplNo}}</td>
    </tr>
    <tr>
        <th>DSA LEA #</th>
        <td colspan="3">{{dsaLEANo}}</td>
    </tr>
</table>
<table class="borderless">
	<tr>
		<th style="width:10%">Request By</th>
		<td style="width:15%">{{requestBy}}</td>
		<th style="width:7%">Phone</th>
		<td style="width:17%">{{phoneNumber}}</td>
		<th style="width:6%">Cell</th>
		<td style="width:18%">{{cellNumber}}</td>
		<th style="width:6%">Date</th>
		<td style="width:21%">{{requestDate}}</td>
	</tr>
	<tr>
		<th>Time</th>
		<td>{{requestTime}}</td>
		<th>Task</th>
		<td colspan="5">{{fullTask}}</td>
	</tr>
	<tr>
		<th>Remarks</th>
		<td colspan="7">{{remarks}}</td>
	</tr>
</table>

{{>commonFooter}}
