{{>commonHeader}}

<table>
    <tr>
        <td colspan="10" class="checklist-table-header">
            Installation Log
        </td>
    </tr>

<tr class="header-bordered">
    <td style="width: 7.5%">Epoxy<br/>No.</td>
    <td style="width: 7.5%">Item<br/>No.</td>
    <td style="width: 8%">Total<br/>Installed</td>
    <td style="width: 32%" colspan="2">Floor/Location</td>
    <td style="width: 9%">Hole Depth</td>
    <td style="width: 9%">Hole<br/>Diameter</td>
    <td style="width: 9%">Hole<br/>Blown</td>
    <td style="width: 9%">Hole<br/>Brushed</td>
    <td style="width: 9%">Hole<br/>Re-Blown</td>
</tr>
{{# each(epoxyAdhesiveInspection)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td style="width:27%; border-right: 0">{{t4}}</td>
    <td style="border-left: 0"></td>
    <td>{{t5}} in.</td>
    <td>{{t6}} in.</td>
    <td>{{t7}}</td>
    <td>{{t8}}</td>
    <td>{{t9}}</td>
</tr>
{{/}}
<tr>
    <td colspan="4">
        Anchors installed per manufacturer's instructions {{checkMarkIf(t1, constants.Yes)}}
    </td>
    <td colspan="6">
        Anchors installed <strong>not</strong> per manufacturer's instructions {{checkMarkIf(t1, constants.No)}}
    </td>
</tr>
</table>

{{>commonFooter}}