{{>commonHeader}}

<table>
<tr>
    <td colspan="2" class="checklist-table-header">
        General Information
    </td>
</tr>

<tr>
    <td style="width: 50%">
        <div>CODE EVALUATION REPORT</div>
        <p>{{t1}}</p>
    </td>

    <td>
    </td>
</tr>
</table>


<table>
<tr>
    <td colspan="9" class="checklist-table-header">
        Epoxy Adhesive Information
    </td>
</tr>

<tr class="header-borderless">
    <td style="width: 6%">Epoxy<br/>No.</td>
    <td style="width: 13%">Manufacturer</td>
    <td style="width: 10%">Expiration<br/>Date</td>
    <td style="width: 24%">Installation Method</td>
    <td style="width: 10%">Material<br/>Temp</td>
    <td style="width: 10%">Ambient<br/>Temp</td>
    <td style="width: 9%">Gel<br/>Time</td>
    <td style="width: 9%">Initial Cure<br/>Time</td>
    <td style="width: 9%">Full Cure<br/>Time</td>
</tr>
{{# each(epoxyAdhesiveInformation)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>
    <table class="borderless internal">
        <tr>
            <td style="width:40%">Flat</td>
            <td style="width:10%">{{checkMarkIf(t4, constants.Flat)}}</td>
            <td style="width:40%">Vertical</td>
            <td style="width:10%">{{checkMarkIf(t4, constants.Vertical)}}</td>
        </tr>
        <tr>
            <td style="width: 40%">Horizontal</td>
            <td style="width:10%">{{checkMarkIf(t4, constants.Horizontal)}}</td>
            <td style="width: 40%">Overhead</td>
            <td style="width:10%">{{checkMarkIf(t4, constants.Overhead)}}</td>
        </tr>
    </table>
    </td>
    <td>{{t5}} °{{t6}}</td>
    <td>{{t7}} °{{t8}}</td>
    <td>{{t9}}</td>
    <td>{{t10}}</td>
    <td>{{t11}}</td>
</tr>
{{/}}
<tr>
    <td colspan="9" style="font-style:italic">
        NOTE: Dispense adhesive to the side until properly mixed.
    </td>
</tr>
</table>


<table>
<tr>
    <td colspan="9" class="checklist-table-header">
        Reinforcement Information
    </td>
</tr>

<tr class="header-borderless">
    <td style="width: 6%">Item<br/>No.</td>
    <td style="width: 14%">Manufacturer</td>
    <td style="width: 11%">Brand/<br/>Type</td>
    <td style="width: 27%">Installation Method</td>
    <td style="width: 6%">Size</td>
    <td style="width: 8%">Interval<br/>Spacing</td>
    <td style="width: 8%">Edge<br/>Distance</td>
    <td style="width: 9%">Drill Bit<br/>Diameter</td>
    <td style="width: 10%">Specified<br/>Minimum<br/>Embedment<br/>Depth</td>
</tr>
{{# each(reinforcementInformation)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>
        <table class="borderless internal">
            <tr>
                <td style="width:40%">Flat</td>
                <td style="width:10%">{{checkMarkIf(t4, constants.Flat)}}</td>
                <td style="width:40%">Vertical</td>
                <td style="width:10%">{{checkMarkIf(t4, constants.Vertical)}}</td>
            </tr>
            <tr>
                <td style="width: 40%">Horizontal</td>
                <td style="width:10%">{{checkMarkIf(t4, constants.Horizontal)}}</td>
                <td style="width: 40%">Overhead</td>
                <td style="width:10%">{{checkMarkIf(t4, constants.Overhead)}}</td>
            </tr>
        </table>
    </td>
    <td>{{t5}}</td>
    <td>{{t6}}</td>
    <td>{{t7}}</td>
    <td>{{t8}}</td>
    <td>{{t9}}</td>
</tr>
{{/}}
</table>

{{>commonFooter}}