{{>nonDSAHeader}}

<table>
    <tr><th>Remarks</th></tr>
    <tr><td><p>{{remarksParagraph}}</p></td></tr>
</table>

<table>
    <tr><th>Illustration</th></tr>
    <tr><td>{{illustration}}</td></tr>
</table>

{{>nonDSAFooter}}