{{>commonHeader}}

<div class="full-page">
<table>
<tr>
    <td colspan="4" class="checklist-table-header">
        Placement Information
    </td>
</tr>

<tr>
    <td style="width: 24%">
        <div>CONTRACT NUMBER</div>
        <p>{{t1}}</p>
    </td>

    <td style="width: 28%">
        <div>CO/RTE/PM</div>
        <p>{{t2}}</p>
    </td>

    <td style="width: 24%">
        <div>INSPECTOR</div>
        <p>{{t3}}</p>
    </td>

    <td style="width: 24%">
        <div>DATE</div>
        <p>{{t6}}</p>
    </td>
</tr>

<tr>
    <td>
        <div>GENERAL CONTRACTOR</div>
        <p>{{DRGeneralContractor}}</p>
    </td>

    <td>
        <div>PAVING SUBCONTRACTOR</div>
        <p>{{DRSubContractor}}</p>
    </td>

    <td>
        <div>PAVING FOREMAN</div>
        <p>{{t4}}</p>
    </td>

    <td>
        <div>BEGIN TIME</div>
        <p>{{t7}}</p>
    </td>
</tr>

<tr>
    <td colspan="2">
        <div>HMA PRODUCER</div>
        <p>{{DRMaterialSupplier}}</p>
    </td>

    <td>
        <div>JMF NUMBER</div>
        <p>{{t5}}</p>
    </td>

    <td>
        <div>END TIME</div>
        <p>{{t8}}</p>
    </td>
</tr>

<tr>
    <td>
        <div>FIRST LOAD ARRIVED</div>
        <p>{{t9}}</p>
    </td>

    <td>
        <div>LAST LOAD ARRIVED</div>
        <p>{{t10}}</p>
    </td>

    <td>
        <div>TONNAGE PLACED</div>
        <p>{{t11}}</p>
    </td>

    <td>
        <div>TOTAL HOURS PLACEMENT</div>
        <p>{{t12}}</p>
    </td>
</tr>

<tr>
    <td>
        <div>TOTAL PLANNED THICKNESS</div>
        <p>{{t13}}</p>
    </td>

    <td>
        <div>TOTAL NUMBER OF LIFTS</div>
        <p>{{t14}}</p>
    </td>

    <td>
        <div>LIFT THICKNESSES:</div>
        <p>{{t15}}</p>
    </td>

    <td>
        <div># OF DATA CORES TAKEN</div>
        <p>{{t19}}</p>
    </td>
</tr>

<tr>
    <td>
        <div>NUCLEAR GAUGE #</div>
        <p>{{t16}}</p>
    </td>

    <td>
        <div>GAUGE CORRELATION</div>
        <p>{{t17}}</p>
    </td>

    <td>
        <div>STANDARD COUNT</div>
        <p>{{t18}}</p>
    </td>

    <td>
        <div># OF COMPACTION CORES TAKEN</div>
        <p>{{t20}}</p>
    </td>
</tr>

<tr>
    <td colspan="4" style="font-style:italic">Note: Use 24-hour clock throughout form</td>
</tr>

<tr>
    <td colspan="4" class="checklist-table-header">
        Remarks
    </td>
</tr>

<tr>
    <td colspan="4" style="height:300px"><p>{{remarksParagraph}}</p></td>
</tr>
</table>

</div>

<div class="page-break"></div>


<div class="full-page">

<table>
<tr>
    <td colspan="5" class="checklist-table-header">
        Rolling Patterns
    </td>
</tr>

<tr>
    <td>Gauge Number</td>
    <td colspan="2">{{t21}}</td>

    <td>Maximum Specific Gravity</td>
    <td>{{t23}}</td>
</tr>

<tr>
    <td>Gauge Correction</td>
    <td colspan="4">{{t22}}</td>
</tr>

<tr class="header-borderless">
    <td style="width: 20%">Number of Passes</td>
    <td style="width: 17%">Equipment/Phase</td>
    <td style="width: 20%">Gauge<br/>Specific Gravity</td>
    <td style="width: 23%">Corrected Gauge Specific<br/>Gravity</td>
    <td style="width: 20">% Compaction</td>
</tr>
{{# each(topItem)}}
<tr>
    <td class="item-number">{{ @indexPlusOne }}</td>
    <td>{{checkMarkIf(t1, constants.B)}} (B) {{checkMarkIf(t1, constants.I)}} (I) {{checkMarkIf(t1, constants.F)}} (F) </td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>{{t4}}</td>
</tr>
{{/}}
</table>

<p>Recommended rolling pattern should coincide with above observations prior to achieving maximum density.<br/>
Phases: B=Breakdown, I=Intermediate, F=Finish</p>

<table>
   <tr>
      <td colspan="2" class="checklist-table-header">
         Compaction Equipment
      </td>
   </tr>
   <tr>
      <td style="width:29%; text-align:right">Breakdown Equipment:</td>
      <td>{{t24}}</td>
   </tr>
   <tr>
      <td style="text-align:right">Intermediate Equipment:</td>
      <td>{{t25}}</td>
   </tr>
   <tr>
      <td style="text-align:right">Finishing Equipment:</td>
      <td>{{t26}}</td>
   </tr>
</table>


</div>

<div class="page-break"></div>

<div class="full-page">
<table>
<tr>
    <td colspan="5" class="checklist-table-header">
        Compaction - Cores
    </td>
</tr>
<tr class="header-borderless">
    <td style="width:15%">Placement<br/>Date</td>
    <td style="width:13%">Core<br/>Number</td>
    <td style="width:30%">Station</td>
    <td style="width:27%">Offset</td>
    <td style="width:15%">% Compaction</td>
</tr>

{{# each(core)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>{{t4}}</td>
    <td>{{t5}}</td>
</tr>
{{/}}

</table>

</div>

{{>commonFooter}}