{{>commonHeader}}

<table class="attached-bottom">
<tr>
    <td colspan="3" class="checklist-table-header">
        Liquid Penetrant Examination
    </td>
</tr>

<tr>
    <td style="width: 33.3%">
        Type of Material: {{t1}}
    </td>

    <td style="width: 33.3%">
        Surface Condition: {{t2}}
    </td>

    <td style="width: 33.3%">
        Temp. of Material: {{t3}}
    </td>
</tr>

<tr>
    <td>
        Examination Standard: {{t4}}
    </td>

    <td>
        Acceptance Standard: {{t5}}
    </td>

    <td>
        NDT Procedure No.: {{t6}}
    </td>
</tr>

<tr>
    <td>
        <table class="borderless internal">
            <tr>
                <td>
                    Method:
                </td>
                <td colspan="3">

                </td>
            </tr>
            <tr>
                <td>
                    Visible:
                </td>
                <td>
                    {{checkMarkIf(t8, constants.One)}}
                </td>
                <td>
                    Fluorescent:
                </td>
                <td>
                    {{checkMarkIf(t9, constants.One)}}
                </td>
            </tr>
        </table>
    </td>

    <td>
        <table class="borderless internal">
            <tr>
                <td>Emulsified:</td>
                <td style="width: 50%;">{{checkMarkIf(t10, constants.One)}}</td>
            </tr>
            <tr>
                <td>Post Emulsified:</td>
                <td>{{checkMarkIf(t11, constants.One)}}</td>
            </tr>
        </table>
    </td>

    <td>
        <table class="borderless internal">
            <tr>
                <td>Water Washable:</td>
                <td style="width: 50%;">{{checkMarkIf(t12, constants.One)}}</td>
            </tr>
            <tr>
                <td>Solvent Removable:</td>
                <td>{{checkMarkIf(t13, constants.One)}}</td>
            </tr>
        </table>
    </td>
</tr>
</table>

<table class="attached-top attached-bottom">
    <tr>
        <td style="width: 25%">Penetrant</td>
        <td style="width: 25%">Cleaner</td>
        <td style="width: 25%">Emulsifier</td>
        <td style="width: 25%">Developer</td>
    </tr>
    <tr class="centered">
        <td>
            Brand: {{t14}}<br/>
            Batch No.: {{t15}}<br/>
            Dwell Time: {{t16}}<br/>
        </td>
        <td>
            Brand: {{t17}}<br/>
            Batch No.: {{t18}}<br/>
        </td>
        <td>
            Brand: {{t19}}<br/>
            Batch No.: {{t20}}<br/>
            Emulsificatio Time: {{t21}}<br/>
        </td>
        <td>
            Brand: {{t22}}<br/>
            Batch No.: {{t23}}<br/>
            Dev. Time: {{t24}}<br/>
            Dry:  {{checkMarkIf(t25, constants.One)}} Wet: {{checkMarkIf(t26, constants.One)}} Non-Aqueous {{checkMarkIf(t27, constants.One)}}<br/>
        </td>
    </tr>
</table>

<table class="attached-top">
    <tr>
        <td style="width: 10%">Line No.</td>
        <td style="width: 10%">Floor</td>
        <td style="width: 10%">Line</td>
        <td style="width: 10%">Row</td>
        <td style="width: 10%">Dir.</td>
        <td style="width: 10%">Flg.</td>
        <td style="width: 10%">Acc.</td>
        <td style="width: 10%">Rej.</td>
        <td style="width: 10%">Welder.</td>
        <td style="width: 10%">Detail</td>
    </tr>

{{# each(liquidPenetrantItem)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>{{t4}}</td>
    <td>{{t5}}</td>
    <td>{{t6}}</td>
    <td>{{t7}}</td>
    <td>{{t8}}</td>
    <td>{{t9}}</td>
    <td>{{t10}}</td>
</tr>
{{/}}


</table>



{{>commonFooter}}