{{>commonHeader}}

<table>
<tr>
    <td colspan="7" class="checklist-table-header">
        Magnetic Particle Examination
    </td>
</tr>

<tr>
    <td style="width: 33.3%" colspan="3">
        Type of Material: {{t1}}
    </td>

    <td style="width: 33.3%" colspan="2">
        Surface Condition: {{t2}}
    </td>

    <td style="width: 33.3%" colspan="7">
        Temp. of Material: {{t3}}
    </td>
</tr>

<tr>
    <td colspan="3">
        Examination Standard: {{t4}}
    </td>

    <td colspan="2">
        Acceptance Standard: {{t5}}
    </td>

    <td colspan="7">
        NDT Procedure No.: {{t6}}
    </td>
</tr>

<tr class="centered">
    <td style="width: 16.67%">
        <table class="borderless internal">
            <tr>
                <td>Method:&nbsp;</td>
                <td></td>
                <td>&nbsp;Yoke:&nbsp;</td>
                <td>{{checkMarkIf(t8, constants.One)}}</td>
            </tr>
            <tr>
                <td>Coil:&nbsp;</td>
                <td>{{checkMarkIf(t9, constants.One)}}</td>
                <td>&nbsp;Prods:&nbsp;</td>
                <td>{{checkMarkIf(t10, constants.One)}}</td>
            </tr>
        </table>
    </td>
    <td colspan="2">
        <table class="borderless internal">
            <tr>
                <td style="width:35%">Dry:</td>
                <td>{{checkMarkIf(t11, constants.One)}}</td>
                <td style="width:35%">Wet:</td>
                <td>{{checkMarkIf(t12, constants.One)}}</td>
            </tr>
            <tr>
                <td colspan="4">Visibile: {{checkMarkIf(t13, constants.One)}}</td>
            </tr>
            <tr>
                <td colspan="4">Fluorescent: {{checkMarkIf(t14, constants.One)}}</td>
            </tr>
        </table>
    </td>
    <td style="width: 16.67%">
        <table class="borderless internal">
            <tr>
                <td>AC:</td>
                <td>{{checkMarkIf(t15, constants.One)}}</td>
                <td>DC:</td>
                <td>{{checkMarkIf(t16, constants.One)}}</td>
            </tr>
            <tr>
                <td colspan="4">Rectified: {{checkMarkIf(t17, constants.One)}}</td>
            </tr>
        </table>
    </td>
    <td style="width: 16.67%">
        Amperage: {{t18}}
    </td>
    <td style="width: 16.67%">
        Prod Spacing: {{t19}}
    </td>
    <td style="width: 16.67%">
        Particle Colors: {{t20}}
    </td>
</tr>

<tr>
    <td>
        Equipment SN: {{t21}}
    </td>
    <td colspan="2">
        Model No.: {{t22}}
    </td>
    <td>
        Mfg.: {{t23}}
    </td>
    <td>
        Black light SN: {{t23}}
    </td>
    <td>
        Model No.: {{t24}}
    </td>
    <td>
        Mfg.: {{t25}}
    </td>
</tr>

<tr>
    <td>
    Particle Type: {{t26}}
    </td>
    <td colspan="2">
    Mfg.: {{t27}}
    </td>
    <td>
    Batch No.: {{t28}}
    </td>
    <td>
    Light Meter SN: {{t29}}
    </td>
    <td>
    Meter Model No.: {{t30}}
    </td>
    <td>
    Meter Mfg.: {{t31}}
    </td>
</tr>

<tr>
    <td>
        PC # or SN #
    </td>
    <td style="width: 8.33%">
        Acc.
    </td>
    <td style="width: 8.33%">
        Rej.
    </td>
    <td>
        Defect
    </td>
    <td colspan="3">
        Remarks
    </td>
</tr>


{{# each(magneticParticleItem)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>{{t4}}</td>
    <td colspan="3">{{t5}}</td>
</tr>
{{/}}
</table>

{{>commonFooter}}