﻿{{>commonHeader}}
<div id="header-top">
    {{formLogo}}
    <h2 id="form-title">{{displayName}}</h2>
</div>

<div class="clearfix">
<div class="half left">
{{clientName}}<br />
{{project}}<br />
{{address}}<br />
{{cityState}}<br />
</div>

<div class="half right" style="text-align:right">
Project: {{projectId}}<br />
DR: {{drNumber}}<br />
Page: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
Date: {{requestDate}}<br />
</div>
</div>

{{>commonFooter}}
