﻿<table class="non-dsa-footer borderless">
<tr>
<td>
<strong>The work inspected &nbsp;</strong> {{workMeetsRequirements}}
the requirements of the approved documents
</td>
<td class="bottom-right">
{{^ isEmpty(densitySheets) }}
Density Sheets Taken: {{densitySheets}}
{{/}}
</td>
</tr>
</table>

{{>standaloneFooter}}