﻿{{>commonHeader}}
<div id="header-top">
    {{formLogo}}
    <h2 id="form-title">{{displayName}}</h2>
</div>

<table id="header" class="borderless">
    <tr>
        <td rowspan="4" colspan="2"  style="width:47%" >
            {{clientName}}<br />
            {{project}}<br />
            {{address}}<br />
            {{cityState}}<br />
        </td>
        <th>Request By</th>
        <td>{{requestBy}}</td>
        <th>Phone</th>
        <td>{{phoneNumber}}</td>
    </tr>
    <tr>
        <th style="width:10%">Date</th>
        <td style="width:24%">{{requestDate}}</td>
        <th style="width:7%">Cell</th>
        <td>{{cellNumber}}</td>
    </tr>
    <tr>
        <th>Time</th>
        <td colspan="3">{{requestTime}}</td>
    </tr>
    <tr>
        <th>Task</th>
        <td colspan="3">{{fullTask}}</td>
    </tr>
    <tr>
        <th style="width:20%">Remarks</th>
        <td colspan="5">{{remarks}}</td>
    </tr>
</table>

{{>commonFooter}}
