<table>
    <tr>
        <th>Sample Type</th>
        <td colspan="3">{{t1}}</td>
    </tr>
    <tr>
        <th style="width:20%">Project</th>
        <td style="width:80%" colspan="3">{{project}}</td>
    </tr>
    <tr>
        <th style="width:20%">Date Sampled</th>
        <td style="width:30%">{{requestDate}}</td>
        <th style="width:20%">Sampled By</th>
        <td style="width:30%">{{employeeName}}</td>
    </tr>
    <tr>
        <th>Container ID No.</th>
        <td>{{t2}}</td>
        <th>No. of Bags</th>
        <td>{{t3}}</td>
    </tr>
    <tr>
        <th>Container Type</th>
        <td colspan="3"><p>{{t4}}</p></td>
    </tr>
    <tr>
        <th>Sample Location</th>
        <td colspan="3"><p>{{t5}}</p></td>
    </tr>
    <tr>
        <th>Material Description</th>
        <td colspan="3">{{t6}}</td>
    </tr>
</table>