{{>commonHeader}}


{{#concreteSamples}}
        {{sample}}
    {{/concreteSamples}}

{{^ isEmpty(samples) }}
  <table class="borderless first">
    <tr>
        <th style="width: 20%">Reference Documents</th><td>{{referenceDocuments}}</td>
    </tr>
    <tr>
        <th style="width: 20%">General Contractor</th><td>{{generalContractor}}</td>
    </tr>
    <tr>
        <th style="width: 20%">Sub-Contractor</th><td>{{subContractor}}</td>
    </tr>
  </table>
{{/}}

{{#samples}}
        {{sample}}
    {{/samples}}


{{# isEmpty(concreteSamples) }}
    <div class="hidden">aa</div>
{{/}}


{{>commonFooter}}