﻿<table style="height:60px; margin-bottom: 0;">
    <tr>
        <td style="width:22%"><div class="cell-label left">Date</div> <div class="right">{{shortRequestDate}}</div></td>
        <td colspan="5"><div class="cell-label left">Weather</div> <div class="right">{{t102}}</div></td>
        <td style="width:39%;" rowspan="5">
            <div class="barcode-panel-text" style="margin-top: 30px;">{{drNumber}}</div>
            <div class="barcode-panel-text">{{projectId}}/{{scope}}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="2"  style="height:44px">
            <div class="cell-label">Client Authorization</div>
            {{clientSignature}}
        </td>
        <td style="width:20%" rowspan="2">
            <div class="cell-label">{{employeeType}} Signature</div>
            {{technicianSignature}}
        </td>
        <th style="height:20px; width:10%">Reg Hours</th>
        <td style="width:9%">{{t105}}</td>
    </tr>
    <tr>
        <th style="height:20px">OT Hours</th>
        <td>{{t106}}</td>
    </tr>
    <tr>
        <td rowspan="2">
            <div class="cell-label" style="margin-bottom: 0.8em">Representing</div><span style="font-size:0.8em">{{clientAuthorization}}</span>
        </td>
        <td rowspan="2">
            {{employeeName}} - {{employeeId}}
        </td>
        <th>Begin Time</th>
        <td>{{t107}}</td>
        
        <!--<td style="border-top: 0; border-bottom: 0;">
            {{drNumber}}
        </td>-->

    </tr>
    <tr>
        <th>End Time</th>
        <td>{{t108}}</td>
        
        
        <!--<td style="border-top: 0;">
            {{projectId}}
        </td>-->
    </tr>
    

</table>