<table>
    <tr>
        <th>Sample Type</th>
        <td colspan="3">{{t1}}</td>
    </tr>
    <tr>
        <th style="width:20%">Project</th>
        <td style="width:80%" colspan="3">{{project}}</td>
    </tr>
    <tr>
        <th style="width:20%">Date Sampled</th>
        <td style="width:30%">{{requestDate}}</td>
        <th style="width:20%">Sampled By</th>
        <td style="width:30%">{{employeeName}}</td>
    </tr>
    <tr>
        <th>Sample Type</th>
        <td colspan="3">{{t2}}</td>
    </tr>
    <tr>
        <th>Material Description</th>
        <td colspan="3">{{t3}}</td>
    </tr>
    <tr>
        <th>Shape or Size</th>
        <td colspan="3">{{t4}}</td>
    </tr>
    <tr>
        <th>Length</th>
        <td colspan="3">{{t5}}</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td colspan="3">{{t6}}</td>
    </tr>
</table>