{{>commonHeader}}

<table>
<tr>
    <td colspan="4" class="checklist-table-header">
        General Information
    </td>
</tr>

<tr>
    <td style="width: 33.3%">
        <div>RAM</div>
        <p>{{t1}}</p>
    </td>

    <td style="width: 33.3%" colspan="2">
        <div>SERIAL NO.</div>
        <p>{{t2}}</p>
    </td>

    <td style="width: 33.3%">
        <div>CALIBRATION DUE DATE</div>
        <p>{{t3}}</p>
    </td>
</tr>

<tr>
    <td>
        <div>GAGE</div>
        <p>{{t4}}</p>
    </td>

    <td colspan="2">
        <div>SERIAL NO.</div>
        <p>{{t5}}</p>
    </td>

    <td>
        <div>CALIBRATION DUE DATE</div>
        <p>{{t6}}</p>
    </td>
</tr>

<tr>
    <td>
        <div>TORQUE WRENCH</div>
        <p>{{t7}}</p>
    </td>

    <td colspan="2">
        <div>SERIAL NO.</div>
        <p>{{t8}}</p>
    </td>

    <td>
        <div>CALIBRATION DUE DATE</div>
        <p>{{t9}}</p>
    </td>
</tr>

<tr>
    <td colspan="2" style="width: 50%">
        <div>MATERIAL</div>
        <table class="borderless internal">
            <tr>
                <td>Rebar</td>
                <td style="width: 10%">{{checkMarkIf(t10, constants.Rebar)}}
                <td>Shotpin/Wire Assembly</td>
                <td style="width: 10%">{{checkMarkIf(t10, constants.ShotpinWireAssembly)}}
                <td>Anchors</td>
                <td style="width: 10%">{{checkMarkIf(t10, constants.Anchors)}}
            </tr>
        </table>
    </td>

    <td colspan="2">
        <div>METHOD</div>
        <table class="borderless internal">
            <tr>
                <td>Dynamometer</td>
                <td style="width: 5%">{{checkMarkIf(t11, constants.Dynamometer)}}
                <td>Torque Wrench</td>
                <td style="width: 5%">{{checkMarkIf(t11, constants.TorqueWrench)}}
                <td>Hydraulic Jack</td>
                <td style="width: 5%">{{checkMarkIf(t11, constants.HydraulicJack)}}
                <td>Scale</td>
                <td style="width: 5%">{{checkMarkIf(t11, constants.Scale)}}
            </tr>
        </table>
    </td>

</tr>
</table>


<table>
<tr>
    <td colspan="5" class="checklist-table-header">
        Item Number Description
    </td>
</tr>

<tr class="header-borderless">
    <td style="width: 6%" class="item-number">Item<br/>No.</td>
    <td style="width: 70%">Description</td>
    <td style="width: 9%">No. of<br/>Anchors</td>
    <td style="width: 9%">No.<br/>Tested</td>
    <td style="width: 6%">% of<br/>Total</td>
</tr>
{{# each(itemNumberDescription)}}
<tr>
    <td class="item-number">{{ @indexPlusOne }}</td>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>{{t4}}</td>
</tr>
{{/}}
</table>


<table>
<tr>
    <td colspan="6" class="checklist-table-header">
        Torque/Pull Log
    </td>
</tr>

<tr class="header-borderless">
    <td style="width: 6%" class="item-number">Item No.</td>
    <td style="width: 47%">Location Tested</td>
    <td style="width: 11%">Type/Size</td>
    <td style="width: 11%">Load</td>
    <td style="width: 11%">Specified<br/>Load</td>
    <td style="width: 14%">Pass/Fail/Retest</td>
</tr>
{{# each(torquePullLog)}}
<tr>
    <td>{{t1}}</td>
    <td>{{t2}}</td>
    <td>{{t3}}</td>
    <td>{{t4}} ft●lb</td>
    <td>{{t5}} ft●lb</td>
    <td>{{t6}}</td>
</tr>
{{/}}
</table>

{{>commonFooter}}